#!/usr/bin/make -f

export KRELEASE=4.9.0-12-amd64

%:
	dh $@

override_dh_auto_build:
	$(MAKE) KVER=$(KRELEASE) modules

override_dh_auto_install:
	$(info Skip dh_auto_install)

override_dh_auto_clean:
	$(MAKE) KVER=$(KRELEASE) clean

override_dh_strip:
	dh_strip --no-automatic-dbgsym
